In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [24]:
import os
import glob
import json
import re

In [85]:
fname = 't_audit_floor_plan_20220207_2.csv'
df = pd.read_csv(fname)

In [86]:
cols = df.columns.values.tolist()
date_cols = list(filter(lambda s: '_date' in s, cols))

In [87]:
schema_input = os.path.join('auditfloorplan', 'raw', 'auditfloorplan.input.schema')
with open(schema_input, 'r') as f:
    schema_raw = json.load(f)

In [88]:
cols_date = [x for x in schema_raw['fields'] if x['logicalFormat'] == 'DATE']
cols_date

[{'name': 'visit_start_date',
  'type': ['string', 'null'],
  'logicalFormat': 'DATE',
  'deleted': False,
  'metadata': False,
  'default': '',
  'format': 'dd/MM/yyyy',
  'locale': 'mx'},
 {'name': 'visit_end_date',
  'type': ['string', 'null'],
  'logicalFormat': 'DATE',
  'deleted': False,
  'metadata': False,
  'default': '',
  'format': 'dd/MM/yyyy',
  'locale': 'mx'},
 {'name': 'agency_rating_date',
  'type': ['string', 'null'],
  'logicalFormat': 'DATE',
  'deleted': False,
  'metadata': False,
  'default': '',
  'format': 'yyyy-MM-dd',
  'locale': 'mx'},
 {'name': 'cutoff_date',
  'type': 'string',
  'logicalFormat': 'DATE',
  'deleted': False,
  'metadata': True,
  'default': '',
  'format': 'yyyy-MM-dd',
  'locale': 'mx'}]

In [89]:
cols = ['visit_start_date', 'visit_end_date']
re_date = '^\d{2}/\d{2}/\d{4}$'
m, n = df.shape
print(m, n)

for col in cols:
    null_idx = df[col].isnull()
    idx = df[col].str.match(re_date).astype(bool) & (~null_idx)
    print("nulos: ", null_idx.sum(), "formato correcto: ", idx.sum())
    print([i for i,x in enumerate(null_idx.tolist()) if x])

5884 39
nulos:  0 formato correcto:  5884
[]
nulos:  0 formato correcto:  5884
[]

visit_start_date
815, 3194, 3704, 3866, 3872 no hay fechas
solo 1805 registros tienen el formato dd/MM/YYYY (dos caracteres)

visit_end_date
solo 405 tienen el formato 
a partir de la fila 4086 hay timestamp

In [93]:
col = cols[0]
null_idx = df[col].isnull()
idx = df[col].str.match(re_date).astype(bool) & (~null_idx)
print("nulos: ", null_idx.sum(), "formato correcto: ", idx.sum())
print([i for i,x in enumerate(null_idx.tolist()) if x])

nulos:  0 formato correcto:  5884
[]

In [94]:
col = cols[1]
null_idx = df[col].isnull()
idx = df[col].str.match(re_date).astype(bool) & (~null_idx)
print("nulos: ", null_idx.sum(), "formato correcto: ", idx.sum())
print([i for i,x in enumerate(null_idx.tolist()) if x])

nulos:  0 formato correcto:  5884
[]

In [95]:
df.loc[~idx, col].values.tolist()

[]